{% extends "admin/base.html" %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="main-content-inner">
        <!-- main-content-wrap -->
        <div class="main-content-wrap">
            <div class="flex items-center flex-wrap justify-between gap20 mb-27">
                <h3>{{ category.name }}</h3>
                <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                    <li>
                        <a href="index.html">
                            <div class="text-tiny">Dashboard</div>
                        </a>
                    </li>
                    <li>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li>
                        <div class="text-tiny">Категория</div>
                    </li>
                    <li>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li>
                        <div class="text-tiny">{{ category.name }}</div>
                    </li>
                </ul>
            </div>
            <!-- product-list -->
            <div class="wg-box">
                <div class="title-box">
                    <i class="icon-coffee"></i>
                    <div class="body-text">Каждому товару присвоен уникальный SKU, по которому вы можете найти именно то,
                        что вам нужно.
                    </div>
                </div>
                <div class="flex items-center justify-between gap10 flex-wrap">
                    <div class="wg-filter flex-grow">
                        <div class="show">
                            <div class="text-tiny">Показать</div>
                            <div class="select">
                                <form method="get" id="perPageForm">
                                    <select name="per_page" onchange="this.form.submit()">
                                        <option value="10" {% if per_page == 10 %}selected{% endif %}>10</option>
                                        <option value="20" {% if per_page == 20 %}selected{% endif %}>20</option>
                                        <option value="30" {% if per_page == 30 %}selected{% endif %}>30</option>
                                    </select>
                                    <input type="hidden" name="q" value="{{ q }}">
                                </form>
                            </div>
                            <div class="text-tiny">записей</div>
                        </div>

                        <form class="form-search" method="get">
                            <fieldset class="name">
                                <input type="text"
                                       placeholder="Поиск по названию или SKU..."
                                       class=""
                                       name="q"
                                       tabindex="2"
                                       value="{{ q }}">
                            </fieldset>

                            <input type="hidden" name="per_page" value="{{ per_page }}">

                            <div class="button-submit">
                                <button class="" type="submit"><i class="icon-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="wg-table table-product-list">
                    <div class="table-scroll">
                        <ul class="table-title flex gap20 mb-14">
                            <li>
                                <div class="body-title">Товар</div>
                            </li>
                            <li>
                                <div class="body-title">SKU товара</div>
                            </li>
                            <li>
                                <div class="body-title">Варианты товара</div>
                            </li>
                            <li>
                                <div class="body-title">Цена (max-min)</div>
                            </li>
                            <li>
                                <div class="body-title">Скидка (%)</div>
                            </li>
                            <li>
                                <div class="body-title">Действие</div>
                            </li>
                        </ul>
                        <ul class="flex flex-column">
                            {% for product in products %}
                                <li class="product-item gap20">
                                    <div class="image no-bg">
                                        <img src="images/products/41.png" alt="">
                                    </div>
                                    <div class="flex items-center justify-between gap20 flex-grow">
                                        <!-- Товар -->
                                        <div class="name">
                                            <a href="#" class="body-title-2">
                                                {{ product.name }}
                                            </a>
                                        </div>
                                        <!-- SKU -->
                                        <div class="body-text">
                                            {{ product.first_sku|default:"—" }}
                                        </div>
                                        <!-- Количество вариантов -->
                                        <div class="body-text">
                                            {{ product.variants_count }}
                                        </div>
                                        <!-- Цена диапазон -->
                                        <div class="body-text">
                                            {{ product.max_p }} – {{ product.min_p }}
                                        </div>
                                        <!-- Скидка -->
                                        <div class="body-text">
                                            {% if product.discount_is_active %}
                                                {{ product.discount_percent }}%
                                            {% elif category.discount_is_active_now %}
                                                {{ category.discount_percent }}%
                                            {% else %}
                                                —
                                            {% endif %}
                                        </div>
                                        <!-- Действия -->
                                        <div class="list-icon-function">
                                            <div class="item eye"><i class="icon-eye"></i></div>
                                            <div class="item edit"><i class="icon-edit-3"></i></div>
                                            <div class="item trash"><i class="icon-trash-2"></i></div>
                                        </div>
                                    </div>
                                </li>
                            {% empty %}
                                <li class="product-item">
                                    <div class="body-text">В категории пока нет товаров</div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="divider"></div>

                <div class="flex items-center justify-between flex-wrap gap10">
                    <div class="text-tiny">
                        Показано {{ page_obj.object_list|length }} из {{ page_obj.paginator.count }} записей
                    </div>

                    <ul class="wg-pagination">
                        {% if page_obj.has_previous %}
                            <li>
                                <a href="?page={{ page_obj.previous_page_number }}&per_page={{ per_page }}&q={{ q }}"><i class="icon-chevron-left"></i></a>
                            </li>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if num == page_obj.number %}
                                <li class="active"><a href="?page={{ num }}&per_page={{ per_page }}&q={{ q }}">{{ num }}</a></li>
                            {% else %}
                                <li><a href="?page={{ num }}&per_page={{ per_page }}&q={{ q }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li>
                                <a href="?page={{ page_obj.next_page_number }}&per_page={{ per_page }}&q={{ q }}"><i class="icon-chevron-right"></i></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!-- /product-list -->
        </div>
        <!-- /main-content-wrap -->
    </div>
{% endblock %}
