{% extends "base.html" %}
{% load static %}

{% block title %}Товары{% endblock %}

{% block content %}
    <main class="main">
      <section class="section block-banner-shop">
        <div class="container">
          <h1 class="text-56-medium">Товары</h1>
          <div class="breadcrumbs">
            <ul>
              <li> <a href="{% url 'index' %}">Главная </a></li>
              <li> <a href="{% url 'shop' %}">Товары</a></li>
            </ul>
          </div>
        </div>
      </section>
      <section class="section block-content-shop">
        <div class="container">
          <div class="shop-top-filter">
            <div class="left-filter"><a class="btn-open-filter" href="#">Филтры</a></div>
            <div class="right-filter">
              <div class="box-filter-top">
                <div class="show-sm"> <a class="btn-open-filter" href="#">Филтры </a></div>
                <div class="number-product">
                  <p class="body-p2 neutral-medium-dark">Showing 9 of 18 products</p>
                </div>
                <div class="box-sort">
                  <div class="box-sortby d-flex align-items-center">
                    <div class="dropdown dropdown-sort">
                      <button class="btn dropdown-toggle" id="dropdownSort" type="button" data-bs-toggle="dropdown" aria-expanded="false">По умолчанию</button>
                      <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownSort" style="margin: 0px;">
                        <li><a class="dropdown-item active" href="#">По умолчанию</a></li>
                        <li><a class="dropdown-item" href="#">Сначала старые</a></li>
                        <li><a class="dropdown-item" href="#">По количеству отзывов </a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="box-view-style"> <a class="view-type view-2" href="#" data-col="2"></a><a class="view-type view-3 active" href="#" data-col="3"></a><a class="view-type view-4" href="#" data-col="4"></a><a class="view-type view-5" href="#" data-col="5"></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wrapper-overlay"></div>
        <div class="block-filter-middle block-filter-canvas wrapper-popup">
          <div class="container">
            <div class="box-filters-sidebar">
              <h5 class="title-filter">Филтры</h5>
              <div class="block-filter">
                <h6 class="item-collapse">Категория</h6>
                <div class="box-collapse scrollFilter">
                  <ul class="list-filter-checkbox">
                    <li>
                      <label class="cb-container">
                        <input type="checkbox"><span class="text-small">Womens <span class="neutral-medium">(12)</span></span><span class="checkmark"></span>
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="block-filter">
                <h6 class="item-collapse">Цветы </h6>
                <div class="box-collapse scrollFilter">
                  <ul class="list-colors">
                    <li class="active">
                      <div class="box-colors">
                        <div class="item-color color-4"></div>
                        <label>Blue</label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="block-filter">
                <h6 class="item-collapse">Размеры </h6>
                <div class="box-collapse scrollFilter">
                  <div class="block-size">
                    <div class="list-sizes"><span class="item-size">XS </span><span class="item-size active">S </span><span class="item-size">M </span><span class="item-size">XL </span></div>
                  </div>
                </div>
              </div>
              <div class="block-filter">
                <h6 class="item-collapse">Бренд </h6>
                <div class="box-collapse scrollFilter">
                  <ul class="list-filter-checkbox">
                    <li>
                      <label class="cb-container">
                        <input type="checkbox"><span class="text-small">Adidas</span><span class="checkmark"></span>
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="box-your-filter box-your-filter-shop2">
            <div class="block-text-filter"><span class="body-p2 neutral-medium-dark">Фильтры</span></div>
            <div class="block-ele-filter"><a class="btn btn-tag-filter" href="#">XS<span class="close-tag"></span></a><a class="btn btn-tag-filter" href="#">Women<span class="close-tag"></span></a><a class="clear-filter link-underline" href="#">Сбросить всё</a></div>
          </div>
          <div class="box-list-products box-list-products-4 box-list-products-shop-2">
            <div class="product-item">
              <div class="cardProduct wow fadeInUp">
                <div class="cardImage"><a href="#"><img class="imageMain" src="{% static 'imgs/page/homepage1/product8.png' %}" alt="guza"></a>
                </div>
                <div class="cardInfo"><a href="#">
                    <h6 class="text-16-medium cardTitle">Lace Shirt Cut II</h6></a>
                  <p class="body-p2 cardDesc">$16.00</p>
                  <div class="box-colors">
                    <div class="item-color color-1"></div>
                    <div class="item-color color-2"></div>
                    <div class="item-color color-3"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-50">
            <nav class="box-pagination">
              <ul class="pagination">
                <li class="page-item"><a class="page-link page-prev" href="#">
                    <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"></path>
                    </svg></a></li>
                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">10</a></li>
                <li class="page-item"><a class="page-link page-next" href="#">
                    <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
                    </svg></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </section>
    </main>
{% endblock %}